<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo and Text Credits</title>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<div id="credits">
    Photos and descriptions borrowed from the following sources:
    <br/>
    <br/>
    <a href="https://www.tripstodiscover.com/best-cheap-all-inclusive-resorts-in-the-world/">Resort List</a>

</div>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>